.btn {
  @apply relative px-8 py-2;
}

.btn:after, .btn:before {
  content: '';
  
  @apply box-border absolute;
}

.btn:before {
  top: -5px;
  height: calc(100% + 10px);
  border-top-width: 5px;
  border-bottom-width: 5px;
  @apply left-0 w-full border-solid border-secondary;
}

.btn:after {
  left: -5px;
  width: calc(100% + 10px);
  border-left-width: 5px;
  border-right-width: 5px;
  @apply top-0 h-full border-solid border-secondary;
}